.Section {
   margin: 20px auto;
   padding: 10px 0;
   text-align: center;
}

   .Conteiner {
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   width: 320px;
   height: 100%;
   border: solid 2px rgba(128, 124, 124, 0.315);
   border-radius: 5px;
   box-shadow: 10px;
   overflow: hidden;
   background-color: rgb(196, 194, 191);
    }